<% if user_signed_in?%>
<footer class="main-footer">
<% else %>
    <footer class="main-footer" style="margin-left: 0">
  <% end %>
  <div class="pull-right hidden-xs">
    <p> Time Now: <%= Time.now.strftime("%I:%M %p") %></p>
    <p> <%= Time.now.strftime("%A") %>, <%= Time.now.strftime("%b %d, %Y") %> </p>
  </div>
  <p><%= link_to "Home", home_path %>
    <%= link_to "Privacy Policy", privacy_policy_path %>
    <%= link_to "Terms & Conditions", terms_condition_path %>
    <%= link_to "FAQs", faqs_path %>
    <%= link_to "Payment Options", payment_options_path %></p>
  <strong>&copy; Viral Square </strong>
</footer>
</footer>