<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <p> Time Now: <%= Time.now.strftime("%I:%M %p") %></p>
    <p> <%= Time.now.strftime("%A") %>, <%= Time.now.strftime("%b %d, %Y") %> </p>
  </div>
  <p><%= link_to "Home", root_path %> <%= link_to "Privacy Policy", root_path %> <%= link_to "Terms & Conditions", root_path %> <%= link_to "FAQs", root_path %> <%= link_to "Payment Options", root_path %></p>
  <strong>&copy; Almsaeed Studio 2014-2016 </strong>
</footer>
