<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Cronjobs" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%#=  link_to "https://use.fontawesome.com/releases/v5.8.1/css/all.css", integrity: "sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"  %>


    <%= javascript_include_tag "application" %>

  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
<% if user_signed_in?%>

      <!-- Left side column. contains the logo and sidebar -->
          <%= render 'layouts/sidebar' %>
      <% end%>
      <%= render 'layouts/navigation'%>

      <!-- Content Wrapper. Contains page content -->

      <%= yield %>

      <!-- /.content-wrapper -->

      <%= render 'layouts/footer' %>

    </div>
  </body>
</html>
